/.vs
/.idea
/Backup

/distributed-system/obj
/distributed-system/bin
/distributed-system.sln.DotSettings.user

/location-client/obj
/location-client/bin
/location-client.sln.DotSettings.user

UpgradeLog.htm